[submodule "ppcg"]
	path = ppcg
	url = https://github.com/chandangreddy/ppcg.git
[submodule "prl"]
	path = prl
	url = https://github.com/chandangreddy/prl.git
[submodule "pencil-headers"]
	path = pencil-headers
	url = https://github.com/pencil-language/pencil-headers.git
