# ./autogen.sh (autoreconf -i)
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure

# Manually installed dependencies (./get-scala.sh, ./get-antlr3.sh and ./get-polybench.sh)
/scala
/antlr3
/polybench

# ./configure
/Makefile
/confdefs.h
/config.log
/config.status
/pencilcc.py

# make
/pencilcc

# make check
/test-suite.log
/tests/*/*.log
/tests/*/*.trs
/tests/*/check

# make installcheck
/tests/*/installcheck

# make dist
/pencil-driver-*.tar.gz
/pencil-driver-*.tar.bz2
/pencil-driver-*.zip

# KDE Dolphin
.directory

# Merging
*.orig

# KDevelop
.kdef4/
*.kdev4
